.creatorCont {
    margin-top: 1.5rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.purpleImg {
    height: 150px;
    width: 150px;
}

.purpleImgCont {
    text-align: center;
}

.purpleBio {
    margin-left: 5rem;
    margin-right: 5rem;
}

.creatorCont a {
    font-family: 'typetwo';
    text-decoration: None;
    color: #907fad;
    margin-bottom: 0.3rem;
    font-size: 0.7rem;
}

.creatorCont a:hover {
    color: #909fad;
}

h2 {
    color: #907fad;
    font-size: 2.5rem;
    margin-top: 2rem;
}

.purpleKey {
    color: white;
    text-align: center;
    word-wrap: break-word;
}


@media screen and (max-width: 768px) {
    .purpleBio {
        margin-left: 1rem;
        margin-right: 1rem;
    } 
}