{% extends "base.html" %} {% block title%}thebugshub-Creator{% endblock %} {% block content%}
{% block stylesheets %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for ('static', filename='css/creator.css') }}"
/>
{% endblock %}
<h1>bugs Creator</h1>
<div class="creatorCont">
  <div class="purpleImgCont">
    <img
      class="purpleImg"
      src="{{ url_for('static', filename='media/3513.png')}}"
    />
    <br />
    <p>Bad Creature Society Original Artwork Nft #3513</p>
  </div>
  <div class="purplestoke">
    <h2>purplestoke</h2>
    <p class="purpleBio">
      In the digital world I go by the name purplestoke, In the real world my
      name is Preston Eversaul.<br /><br />
      When Covid happened I struggled continuing on with my
      schooling due to the new ways "teaching" was being done. So out of spite I
      decide to take on that task myself, I first started learning about
      financial tools. Stocks, Bonds, Options etc. <br /><br />
      While in that pusruit of knowledge I stumbled across the blockchain and
      instantly became fascinated by the implications of not cryptocurrency, but
      the blockchain. Cryptocurrency is blockchain, but the blockchain is not
      cryptocurrency. And the only reason blockchain is possible, is due to
      public key cryptography. Which enables the ability to establish trust
      between anonymous parties. Allowing everything to be seen with little to
      be known. <br /><br />
      In my continued pursuit of attaining knowledge around blockchain and
      cryptography I decided that my future would not be found in schooling. In
      the Spring of 2021 I decide to dropout of my University and pursue my gut.
      <br /><br />
      I began experimenting with different ideas using the blockchain. One of
      them being a wordsearch puzzle. I generated wallets with a small prize,
      took the seedphrase of those wallets and put the words into a wordsearch.
      Particpants would then solve the wordsearch and access the wallet,
      claiming the prize. <br /><br />
      When experimenting I realized that while I may have cool ideas and an
      understanding of the blockchain to where I knew how they could work. What
      I did not know is how to create them. That was when I decided to begin
      learning coding, but I did not jump straight into Solidity. I believe that
      in order to be better rounded in this field it would be best to learn a
      simpler language first and then learn Solidity. So I tought myself Python.
      <br /><br />
      After learning Python I began experimenting with small projects to broaden
      my learning. This is when I started creating Discord bots and Stoke was
      born. I also realized that if I wanted to create something that people
      would use it would have to be simple. <br /><br />
      Blockchain is new and exciting, but the keyword there is new. Most people
      are unwilling to jump into something that is new. Especially if it
      involves currency. Many people in the blockchain space are creating
      amazing brands, projects, and tools. However, they are quite complicated
      to a new user of the blockchain. Connecting your wallet to applications,
      buying Nfts, staking Nfts, earning a token and understanding what to do
      with that token. <br /><br />
      It's all to much for the new user to jump right into. That's why bugs is
      an extremely simple approach. bugs will teach its users about
      cryptocurrency wallets, security of your wallet, and how to send and
      receive transactions.<br /><br />
      In order to create bugs I have decided to return to school and pursue an
      education in Computer Science. When I was previously in school I had
      switched majors 5 times, I had no idea what my true interests were and as
      a result I just went through the motions. Now I know what I need to learn
      and more importantly I want to learn it. The real journey begins now.
    </p>
    <h2>Purple's Public Key</h2>
    <p class="purpleKey">
      This key can be used to verify all social media posts made by purplestoke see GitHub for more information
    </p>
    <p class="purpleKey">
      -----BEGIN PUBLIC KEY-----<br />
      MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEApJuSnd0ETemK120TjC4g y+IvSIKULwhiWgEA6OWjI42bs7dQiub5tXdnIo2dSSKxXBMEiWOOZ9IfTKqbc+TV Wr/+ankSvC4EkegSVauzRjIhVyboW2RTiEfe29c3OpJB9D//g3PuCjX6qmT+IKRT jPlmFDg0uC8OJIAND2PQJlFaD8XkwhNwC7j/aWfMhZa/pPbDDIeJEe7Dm98AdOAt fnk7Fmbgx7BTaXzYF62rjV0BlKNIQuJlo6LVUWhylfyTb9ikoCpSGMMGvoG8zJ8f VBBN9zjvmUDX4/AngeBiKCPvpPKIwHoy39p8CaIUQxA6zHn7Fu/8Y5xBsp6aPOhX +QIDAQAB<br />
      -----END PUBLIC KEY-----
    </p>
  </div>
</div>
{% endblock %} 
