{% extends "base.html" %} {% block title%}thebugshub-Fund{% endblock %} {% block content%}
{% block stylesheets %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for ('static', filename='css/fund.css') }}"
/>
{% endblock %}
<h1>Piss off, keep your money</h1>
<div class="purplstokePBlock">
  <p>
    While I appreciate the thought. With all do respect piss off, I have decided
    to take on the task of creating bugs and that task is mine alone. I do not
    want to feel a responsibility to anyone else but myself for my choices and
    process of creating bugs. <br /><br />
    If you want to give bugs money, participate in bugs Events. And if you want
    to help me in this journey give me feedback on bugs. And not positive
    feedback ya simp. <br /><br />
    And if you think you possess the qualities and desire to grow bugs, do
    something and come find me. While I have decided to take on this task alone
    that does not mean I can do it alone. <br /><br />
    I'll need a crew...and 10 should do...<br /><br />
    Show me your ambition is worth taking an interest in.
  </p>
</div>
<div class="spacerL"></div>
{% endblock %}
